<div class="container">
  <h2>Create a New Product</h2>
  <p><a><button [routerLink]="['/products']" class="buttonCancel">Cancel</button></a></p>
  <p class="error" *ngIf="errors.repeat">{{errors.repeat.message}}</p>
  <form (submit)="createProduct()">
    <p>
      <input type="text" name="product.name" [(ngModel)]="product.name" placeholder="name" size="40px">
    </p>
    <p class="error" *ngIf="errors.name">{{errors.name.message}}</p>
    <p>
      <input type="number" name="product.price" [(ngModel)]="product.price" placeholder="price" size="40px">
    </p>
    <p class="error" *ngIf="errors.price">{{errors.price.message}}</p>
    <p>
      <input type="text" name="product.image" [(ngModel)]="product.image" placeholder="image URL" size="40px">
    </p>
    <p class="error" *ngIf="errors.image">{{errors.image.message}}</p>
    <p>
      <input type="submit" value="Add a New Product" class="buttonSubmit"><span></span>
    </p>
  </form>
  <!-- {{ product | json }} -->
  <hr>
</div>
